<div class="max-w-lg mx-auto mt-10 bg-white p-6 rounded-xl shadow-lg">
  <h2 class="text-xl font-bold mb-4 text-blue-700">Nuevo Medidor</h2>

  <form>
    <input name="id_medidor" type="text" placeholder="RUT (Ej: 12.345.678-9)" class="border p-2 rounded w-full mb-3"/>
    <input name="codigo_medidor" type="text" placeholder="Nombre o Razón Social" class="border p-2 rounded w-full mb-3"/>
    <input name="id_cliente" type="email" placeholder="Correo electrónico" class="border p-2 rounded w-full mb-3"/>
    <input name="direccion_suministro" type="text" placeholder="Teléfono" class="border p-2 rounded w-full mb-3"/>
    <input name="estado" type="text" placeholder="Dirección de facturación" class="border p-2 rounded w-full mb-3"/>
    


    <div class="flex justify-end gap-2 mt-4">
      <button type="button" routerLink="/medidores" class="bg-gray-400 text-white px-4 py-2 rounded">Cancelar</button>
      <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Guardar</button>
    </div>
  </form>
</div>
