.panel-content {
  --background: #fffdfd;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.menu-grid {
  width: 100%;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.menu-btn {
  --border-radius: 12px;
  height: 60px;
  font-size: 16px;
  text-transform: none;
  --color: #000000;
  --border-color: #4da3ff;
  --background-hover: rgba(77, 163, 255, 0.08);
}

ion-toolbar {
  --background: #1f1f1f;
  --color: #000000;
  font-weight: 600;
}
