<div class="container">
  <h1>Panel de Gestión CGE</h1>

  <nav class="nav">
    <button routerLink="/clientes" routerLinkActive="active">👤 Clientes</button>
    <button routerLink="/boletas" routerLinkActive="active">🧾 Boletas</button>
    <button routerLink="/lecturas" routerLinkActive="active">📊 Lecturas</button>
    <button routerLink="/medidores" routerLinkActive="active">⚙️ Medidores</button>
    <button routerLink="/registros" routerLinkActive="active">📝 Registros</button>
  </nav>

  <router-outlet></router-outlet>
</div>
