<div class="container">
  <h1>Panel de Gestión CGE</h1>
<nav class="nav">
  <button onclick="window.location.href='/clientes'" class="nav-link">👤 Clientes</button>
  <button onclick="window.location.href='/boletas'" class="nav-link">🧾 Boletas</button>
  <button onclick="window.location.href='/lecturas'" class="nav-link">📊 Lecturas</button>
  <button onclick="window.location.href='/medidores'" class="nav-link">⚙️ Medidores</button>
  <button onclick="window.location.href='/registros'" class="nav-link">📝 Registros</button>
</nav>
</div>
 <router-outlet></router-outlet>