<div class="p-6 bg-gray-100 min-h-screen">
  <h2 class="text-2xl font-bold mb-4 text-blue-700">⚙️ Medidores</h2>

 <div class="flex mb-4 gap-2">
    <input placeholder="Buscar por código o cliente..." class="border p-2 rounded w-full"/>
   <button class="bg-blue-600 text-white px-4 py-2 rounded">
    <a href="/nuevo-medidor">+ Nuevo</a>
    </button>
  </div>

  <table class="table-auto w-full bg-white shadow-md rounded-lg" *ngIf="medidores.length > 0; else sinMedidores">
    <thead class="bg-blue-600 text-white">
      <tr>
        <th class="p-3">Código</th>
        <th class="p-3">Cliente</th>
        <th class="p-3">Dirección</th>
        <th class="p-3">Estado</th>
        <th class="p-3 text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of medidores" class="border-b hover:bg-gray-50">
        <td class="p-3">{{ m.codigo_medidor }}</td>
        <td class="p-3">{{ m.cliente?.nombre_razon }}</td>
        <td class="p-3">{{ m.direccion_suministro }}</td>
        <td class="p-3">{{ m.estado ? 'Activo' : 'Inactivo' }}</td>
        <td class="p-3 flex justify-center gap-2">
          <button (click)="editarMedidor(m.id_medidor)" class="bg-blue-500 text-white px-3 py-1 rounded">Editar</button>
          <button (click)="eliminarMedidor(m.id_medidor)" class="bg-red-500 text-white px-3 py-1 rounded">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #sinMedidores>
    <p class="text-gray-500 text-center mt-6">No hay medidores registrados.</p>
  </ng-template>
</div>
