<div class="p-6 bg-gray-100 min-h-screen">
  <h2 class="text-2xl font-bold mb-4 text-blue-700">👥 Listado de Clientes</h2>

  <div class="flex mb-4 gap-2">
    <input [(ngModel)]="filtro" (input)="filtrarClientes()" placeholder="Buscar por RUT o nombre..." class="border p-2 rounded w-full"/>
   <button class="bg-blue-600 text-white px-4 py-2 rounded">
    <a href="/nuevo">+ Nuevo</a>
    </button>
  </div>

  <table class="table-auto w-full bg-white shadow-md rounded-lg" *ngIf="clientes.length > 0; else vacio">
    <thead class="bg-blue-600 text-white">
      <tr>
        <th class="p-3">RUT</th>
        <th class="p-3">Nombre</th>
        <th class="p-3">Correo</th>
        <th class="p-3">Estado</th>
        <th class="p-3 text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes" class="border-b hover:bg-gray-50">
        <td class="p-3">{{ c.rut }}</td>
        <td class="p-3">{{ c.nombre_razon }}</td>
        <td class="p-3">{{ c.email_contacto }}</td>
        <td class="p-3">{{ c.estado ? 'Activo' : 'Inactivo' }}</td>
        <td class="p-3 flex justify-center gap-2">
          <button (click)="editarCliente(c.id_cliente)" class="bg-blue-500 text-white px-3 py-1 rounded">Editar</button>
          <button (click)="eliminarCliente(c.id_cliente)" class="bg-red-500 text-white px-3 py-1 rounded">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #vacio>
    <p class="text-gray-500 text-center mt-6">No hay clientes registrados.</p>
  </ng-template>
</div>
